.intro-wrap {
    display: table;
    position: relative;
    overflow: auto;
}

.intro-wrap::after {          
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background: darkgreen;
    opacity: 0.2;
    z-index: -1;
    overflow: auto;
    width: 100vw;
    height: 100px;
}

.intro {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    overflow: auto;
  }

.intro-story {
    font-size: 1.5em;
    font-weight: bold;
    white-space: pre;
    overflow: auto;
}
  
html, button {
    font-size: 16px;
}

button {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
}

input {
    color: rgb(40, 92, 24);
}
input:focus {
    color: rgb(40, 92, 24);
}
input[type=text],
input[type=number] {
    background: none;
    border: 0;
    border-bottom: solid 3px rgb(40, 92, 24);
}
input::placeholder {
    color:  rgb(40, 92, 24);
    opacity: 0.5;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

body{
    margin: 0;
    overflow: hidden;
}

.title-wrap {
    display: table;
    position: relative;
    width: 100vw;
    height: 80px;
}

.title {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}





.question-wrap {
    display: table;
    position: relative;
    width: 100vw;
    height: 100px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.question {
    display: table-cell;
    vertical-align: middle;
    padding-left: 20px;
}

.question-wrap2 {
    display: table;
    position: relative;
    width: 100vw;
    height: 100px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.question2 {
    display: table-cell;
    vertical-align: middle;
    padding-left: 20px;
}

.answer-wrap {
    position: relative;
    width: 100vw;
    height: 100%;
}

.answer {
    padding: 10px;
    font-weight: bold;
}

.answer-text {
    margin-left: 20px;
    padding-bottom: 5px;
}

.bottom {
    display: flex;
    position: fixed;    
    bottom: 0; 
    width: 100%; 
}

.controller-wrap {
    display: table; 
    position: relative;
    width: 100vw;
    height: 70px;
}

.prev-btn{
    
    width: 50%; 
    height: 100%;
    display: table-cell; 
    vertical-align:middle;
    text-align:center;
    font-size: 1.2em;
    font-weight: bold;
    background: rgb(255, 255, 205);
    opacity: 1;
}

.next-btn {          
    width: 50%; 
    height: 100%;
    display: table-cell; 
    vertical-align:middle;
    text-align:center;
    font-size: 1.2em;
    font-weight: bold;
    background: rgb(255, 225, 230);
    opacity: 1;
}


main {
    background: rgb(255, 255, 255);
    opacity: 1;
    width: 100vw;
    height: 100px;
}
  
#main::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(179, 221, 255);
    opacity: 0.5;
    z-index: -1;
}
  

  
.result-wrap {
    display: table;
    position: relative;
    overflow: auto;
}
  
.result-wrap::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100px;
    background: red;
    opacity: 0.1;
    z-index: -1;
    overflow: auto;
}

.result {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    white-space: pre;
    font-size: 1.2em;
    font-weight: bold;
    overflow: auto;
}
